.canvas-wrapper {
  position: relative;
}

#canvas {
  border: 1px solid black;
}

#control-section, #control-toggle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

#control-section {
  /* display: none; */
}

#control-toggle {
  display: none;
}

#control-section > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#control-section > div > div {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;;
}

#control-section span {
  width: 2rem;
  flex-shrink: 0;
}

#control-section .select-wrapper, #control-section select {
  width: 100%;
}

.option-AMSynth {
  color: white;
  background-color: green;
}

.option-FMSynth {
  color: white;
  background-color: red;
}

.option-Synth {
  color: white;
  background-color: blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}