body {
  margin: 0 16rem;
}

.canvas-wrapper {
  position: relative;
}

#canvas {
  border: 1px solid black;
}

#control-section, #control-toggle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

#control-section {
  display: none;
}

#control-section > div {
  display: flex;
  justify-content: space-between;
}

#control-section > div > div {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;;
}

#control-section span {
  width: 2rem;
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}